@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
body{
    background: hsl(0, 0%, 100%);
}
.h1-head{
    font-size: 4rem;
    line-height: normal;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.head-p{
    color: hsl(303, 10%, 53%);
}
.head-h2{
    background: hsl(300, 24%, 96%);
    width: 500px
}
.fa-star{
    color: orange;
    margin-left: 0.3rem;
}
#purple{
    background: hsl(300, 43%, 22%);
    width: 350px;
    height: 250px;
}
.image{
    width: 50px;
}
#h3-color{
    color: hsl(300, 24%, 96%);
}
#image-para{
    color: hsl(333, 80%, 67%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 688px){
    .head-h2{
        background: hsl(300, 24%, 96%);
        width: 100%
    }
}